# LaTeX Junk Files
*.synctex.gz
*.gz
*.aux
*.log
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.nav
*.out
*.snm
*.toc

# LaTeX compiled files
*.pdf 
*.ps
*.dvi

# VS Code Workspace
*.code-workspace
 
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class
